$icomoon-font-family: "FontIcon" !default;
$icomoon-font-path: "../fonts/FontIcon/fonts" !default;

$si-screenshot: "\e909";
$si-search: "\e908";
$si-google: "\e907";
$si-arrow: "\e900";
$si-copy: "\e901";
$si-error: "\e902";
$si-info: "\e903";
$si-success: "\e904";
$si-trash: "\e905";
$si-warning: "\e906";

