$blue: #4889ff;
$red: #ff0042;
$green: #00ff6c;
$yellow: #ffd200;
$color-info: #5c648b;
$color-primary: #2c3042;
$color-primary-light: #454d70;

@import "@/assets/sass/_fonts.scss";
@import "@/assets/fonts/FontIcon/style.scss";