@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('../fonts/Vazir/Vazir-Bold.eot');
	src: url('../fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vazir/Vazir-Bold.woff2') format('woff2'),
		url('../fonts/Vazir/Vazir-Bold.woff') format('woff'),
		url('../fonts/Vazir/Vazir-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Vazir/Vazir-Medium.eot');
	src: url('../fonts/Vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vazir/Vazir-Medium.woff2') format('woff2'),
		url('../fonts/Vazir/Vazir-Medium.woff') format('woff'),
		url('../fonts/Vazir/Vazir-Medium.ttf') format('truetype');
}


@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../fonts/Vazir/Vazir.eot');
	src: url('../fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vazir/Vazir.woff2') format('woff2'),
		url('../fonts/Vazir/Vazir.woff') format('woff'),
		url('../fonts/Vazir/Vazir.ttf') format('truetype');
}

* {
	font-family: Vazir;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}