$blue: #4889ff;
$red: #ff0042;
$green: #00ff6c;
$yellow: #ffd200;
$bg: #32374e;
$color-info: #5c648b;
$color-primary: #2c3042;
$color-primary-light: #454d70;

.log {
	width: 100%;
	padding: .7rem;
	border-radius: 1rem;
	border: 1px solid;
	background: $bg;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: .5rem;
	opacity: 0;
	transform: scale(.7);
	animation: show .3s forwards;

	@keyframes show {
		from {
			opacity: 0;
			transform: scale(.7);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	@keyframes remove {
		from {
			opacity: 1;
			transform: scale(1);
		}
		to {
			opacity: 0;
			transform: scale(.7);
		}
	}

	&.remove {
		animation: remove .3s forwards;
	}

	&-icon {
		width: 1.3rem;
		min-width: 1.3rem;
		height: 1.3rem;
		border-radius: .4rem;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 60%;
			height: 60%;
		}
	}

	&-section {
		width: 100%;
		margin-left: 1rem;

		&__content {
			color: white;
			font-size: .8rem;
		}

		&-footer {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: .3rem;
			padding-top: .2rem;
		}

		&-footer-infos {
			display: inline-block;
			border-top: 2px solid $color-primary-light;

			&-item {
				display: inline-block;
				margin-right: 1rem;
				font-size: .7rem;
			}
	
			&-item__key {
				margin-right: .3rem;
				color: $color-info;
				font-weight: 500;
			}
	
			&-item__data {
				color: white;
			}
		}

		&-footer__btn {
			width: 1.5rem;
			height: 1.5rem;
			margin-left: .5rem;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 70%;
			background-color: transparent;
			border: none !important;
			outline: none !important;
			cursor: pointer;
		}

		&-footer__btn.delete {
			background-image: url('../icons/trash.svg');
		}

		&-footer__btn.copy {
			background-image: url('../icons/copy.svg');

			&.copied {
				background-image: url('../icons/success.svg');
			}
		}
	}
}


.log.info {
	border-color: $blue;

	.log-icon {
		background: $blue;
		box-shadow: 0 0 10px rgba($blue, .5);
	}
}

.log.error {
	border-color: $red;

	.log-icon {
		background: $red;
		box-shadow: 0 0 10px rgba($red, .5);
	}
}

.log.success {
	border-color: $green;

	.log-icon {
		background: $green;
		box-shadow: 0 0 10px rgba($green, .5);
	}
}

.log.warning {
	border-color: $yellow;

	.log-icon {
		background: $yellow;
		box-shadow: 0 0 10px rgba($yellow, .5);
	}
}