@import "@/assets/sass/_base.scss";

.super-fab {
	position: fixed;
	top: 3rem;
	right: 0;
	width: 2rem;
	height: 4rem;
	background: $color-primary-light;
	border: none;
	outline: none !important;
	border-radius: .5rem 0 0 .5rem;
	cursor: pointer;
	transition: all .2s linear;

	&:not(.opened):hover {
		opacity: .3;
	}

	i {
		display: inline-block;
		color: white;
		font-size: 1.2rem;
		transform: rotate(90deg);
		transition: all .2s linear;
	}

	&.opened {
		right: 500px;

		i {
			transform: rotate(-90deg);
		}
	}
}