@import "@/assets/sass/_base.scss";

.super-console {
	position: fixed;
	top: 1rem;
	right: -500px;
	width: 500px;
	border-radius: 1.5rem;
	background: rgba($color-primary, .9);
	backdrop-filter: blur(2px);
	overflow: hidden;
	transition: all .2s linear;
	box-shadow: 0 5px 20px rgba(black, .1);

	&.opened {
		right: 0;
	}

	&-header {
		position: relative;
		width: 100%;
		padding: .7rem;
		background: $color-primary-light;
		text-align: center;
		color: $color-primary;

		.super-console__title {
			font-weight: bold;
		}

		.super-console__clear {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			padding: .5rem;
			right: 1rem;
			top: 0.4rem;
			background: none;
			outline: none;
			border: none;
			cursor: pointer;

			i {
				font-size: 1.2rem;
				color: $color-primary !important;
			}
		}
	}

	.pad {
		padding: .5rem 0;
	}
	
	&-logs {
		padding: 0 .5rem;
		max-height: 500px;
		overflow-y: scroll;
		scrollbar-width: thin !important;
		scroll-behavior: smooth;

		&::-webkit-scrollbar {
			width: .4rem;
		}

		&::-webkit-scrollbar-track {
			background: $color-primary;
		}

		&::-webkit-scrollbar-thumb {
			background: $color-info;
		}
	}

	&-footer {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0 .6rem 1rem .6rem;

		&-log {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: .1rem .4rem;
			border-radius: .3rem;
			margin-right: 1rem;

			&.info {
				background: $blue;
				box-shadow: 0 0 10px rgba($blue, .6);
				color: white;
			}

			&.error {
				background: $red;
				box-shadow: 0 0 10px rgba($red, .6);
				color: white;
			}

			&.warning {
				background: $yellow;
				box-shadow: 0 0 10px rgba($yellow, .6);
				color: black;
			}

			&.success {
				background: $green;
				box-shadow: 0 0 10px rgba($green, .6);
				color: black;
			}

			&__icon {
				width: .9rem;
				margin-right: .3rem;
				color: inherit !important;
			}

			&__count {
				margin-top: .2rem;
				font-size: .8rem;
				color: inherit !important;
			}
		}
	}

	&__empty {
		text-align: center;
		padding: 1rem 0;
		color: $color-primary;
	}
}